/*HERO SECTION*/
#home {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-top: 90px;
}

/*SOCIAL ICONS*/

.social-icons {
  display: flex;
  flex-direction: column;
  /* One below another */
  gap: 2rem;

  font-size: 2rem;
}

.social-icons a {
  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30%;
  background: var(--extra-light);

  color: var(--primary-color);

  transition: 0.3s ease;
}

.social-icons a:hover {
  background: linear-gradient(135deg,
      var(--primary-color),
      var(--secondary-color));

  color: white;
  transform: translateY(-3px);
}

.hero-text h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.hero-text h1 {
  font-size: 5rem;
  color: var(--secondary-color);
}

.hero-text h3 {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 1.4rem 0;
}

.hero-text p {
  max-width: 500px;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {

  /* Hero layout vertical */
  #home {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  /* Social icons button ke neeche */
  .social-icons {
    flex-direction: row;
    /* icons row me */
    order: 3;
    /* buttons ke baad */
    justify-content: center;
    /* Center icons */
    width: 100%;
    gap: 3rem;
  }

  /* Hero text first */
  .hero-text {
    order: 1;
  }

  /* Buttons second */
  .hero-buttons {
    order: 2;
  }

  /* Image last */
  .hero-image {
    order: 4;
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .hero-text h2 {
    font-size: 1.8rem;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text h3 {
    font-size: 1.2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}

/* Hero Content Animation */
.hero-text {
  opacity: 0;
  animation: fadeUp 1s ease forwards;
}

/* Button Delay */
.hero-buttons {
  opacity: 0;
  animation: fadeUp 1.2s ease forwards;
  animation-delay: 0.3s;
}

/* Social Icons Delay */
.social-icons {
  opacity: 0;
  animation: fadeUp 1.3s ease forwards;
  animation-delay: 0.5s;
}

/* Image Animation */
.hero-image {
  opacity: 0;
  animation: fadeUp 1.4s ease forwards;
  animation-delay: 0.7s;
}


.hero-text h3 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--primary-color);

  width: 0;
  animation: typing 4s steps(30) infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}